@import '../abstracts/variables';

.box-logo {
    display: flex;
    background-color: $bg-component;
}

.box-logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.text-logo-y {
    font-size: $font-header;
    font-weight:$font-weight-bold;
    color: $color-y;
    margin: 0;
}
.text-logo-w {
    font-size: $font-header;
    font-weight:$font-weight-bold;
    color: $color-w;
    margin: 0;
}

.logo-link {
    text-decoration: none;
}