
.container-productcontainer{
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.col-title{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.col-title-y{
    color: $color-y;
    font-size: $font-header;
    font-weight: $font-weight-bold;
}
.col-title-w{
    color: $color-w;
    font-size: $font-header;
    font-weight: $font-weight-bold;
}
.col-title-detail {
    color: $color-w;
    font-size: $font-content;
    font-weight: $font-weight-bold;
}