// color
$primary-color: #FFA600;
$bg-page: #171717;
$bg-component: #373737;
$color-y: #FFA600;
$color-w: #FFFFFF;
$color-b: #171717;
$color-success: #147E47;
$color-danger: #FB7185;
$color-disable: #D4D4D8;

// Font sizes
$font-detail-mobile: 14px;
$font-detail: 16px;
$font-content: 20px;
$font-header: 36px;
$font-header-extra: 48px;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;


@mixin important-button-outline-yellow {
    border-radius: 8px;
    border: $color-y solid 1;
    color: $color-y;
    background-color: $color-b;
}
  
@mixin important-button-yellow {
    border-radius: 8px;
    color: $color-b;
    background-color: $color-y;
}



