// color
$primary-color: #FFA600;
$bg-page: #171717;
$bg-component: #373737;
$text-color-y: #FFA600;
$text-color-w: #FFFFFF;
$text-color-b: #171717;
$text-color-success: #147E47;
$text-color-danger: #FB7185;
$text-color-disable: #D4D4D8;

// font



p, .text-success-h1{
    color: $text-color;
 }

